h1 {
	color: green;
}

h2 {
	color: #0505a1;
}

section {
	background: rgb(166, 205, 175);
}
.czerwony {
	color: red 
}
#psy {
	background: yellow
}

a {
	color:green
}

section a {
	color:blueviolet
}

.article a {
	color:white
}